.postFeed--content--container{
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
    height: 80vh;
}
.postFeed--content--container::-webkit-scrollbar{
    display: none;
}


.postFeed--container{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
    z-index: 1;
}

.postFeed--content{
    text-align: center;
    align-self: center;
    padding: 3rem;
    width: 100%;
}

.postFeed--content:hover{
    cursor: pointer;
    background-color: rgba(231, 233, 234, 0.1);
}

.postFeed--user--container{
    display: flex;
    flex: row;
    gap: 1rem;
}

.postFeed--user--username{
    text-transform: capitalize;
    margin-top: 1.5rem;
}

.postFeed--user--avatar{
    width: 10%;
    border-radius: 50%;
}