* { margin: 0; padding: 0;}

.app--container{
  display: flex;
  height: 100%;
}

.nav--links--container{
  margin-top: 15rem;
  text-transform: capitalize;
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 7rem;
}

.app--menu{
  height: 100%;
  width: 20rem;
  background-color: #EEEEEE;
  z-index: 2;
}

.app--sidebar{
  flex: 1;
 content: ' ';
 height: 100%;
 background-color: #EEEEEE;
}
