* { margin: 0; padding: 0; font-family: 'Segoe UI';}

.app--container{
  display: flex;
  height: 100%;
}

.nav--links--container{
  margin-top: 15rem;
  text-transform: capitalize;
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 30rem;
  text-decoration: none;
  color: white;
}

nav a, nav a:visited{
  text-decoration: none;
  color: white;
}

nav a:hover{text-decoration: underline;}

.app--menu{
  height: 100%;
  width: 40rem;
  background-color: black;
  z-index: 2;
}

.app--sidebar{
 flex: 1;
 content: ' ';
 height: 100%;
 background-color: black;
}

.content--container{
  width: 40rem;
  background-color: black;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.account--container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
  height: 50vh;
  justify-content: flex-end;
}
